body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Evita el scroll */
}

#game-container {
  position: fixed; /* Ocupa toda la ventana del navegador */
  top: 0;
  left: 0;
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% del alto de la ventana */
  background-image: url('map.png'); /* Cambia 'map.jpg' por tu imagen */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#drone {
  position: absolute;
  width: 100px;
  height: 100px;
  background: none; /* Cambia 'drone.png' */
  background-size: contain;
  border: none;
}

#drone img {
  width: 100px;
  height: 100px;
  background: none; 
}

.zone img {
  width: 70px;
  height: 70px;
  background: none;
}

.zone {
  position: absolute;
}

#score, #timer {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #000;
  z-index: 10;
}

#score {
  top: 10px;
  left: 10px;
}

#timer {
  top: 10px;
  right: 10px;
}
